//- App logo
mixin app-logo
    a.applogo(href="/" title="Retourner à l'accueil")
        span.icon: img(src="/trademark/nodejswapp_icon_wt.svg", alt="Icon Node.js Wapp", width="32", height="28")
        span.title Node.js-Wapp
    p Exemple de développement Web en Node.js